body {
  margin: 0px;
}
h1 {
  text-align: center;
  color: #FF8247;
  font-size: 4em;
  margin-top: 50px;
  margin-bottom: 0px;

}
h2 {
  text-align: center;
  color: #FF8247;
  font-size: 2em;
  font-style: oblique;
  margin-top: 20px;
  margin-bottom: 0px;
}
h4 {
  text-align: center;
  font-family: 'Slabo 27px', sans-serif;
  color: #FF8247;
  margin-bottom: 100px;
  margin-top: 10px;
}
p {
  margin: 0px 350px 0px 350px;
  color: #FF8247;
  padding: 10px;
  font-size: 1.5em;
}
.caption {
  color: #FF8247;
  padding-top: 2px;
  text-align: center;
  font-size: 1em;
  font-style: italic;
}
html {
  background: #F0F8FF;
  font-family: 'Slabo 27px', sans-serif;
}
ul {
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  color: #FF8247;
}
li {
  padding-bottom: 5px;
  margin-left: 30%;
  margin-right: 30%;
}
li a {
  color: #FF8247;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
#footer {
  background-color: #CBCBCB;
  padding: 10px;
  margin-top: 50px;
}
#footer p {
  color: #FF8247;
}
.video_embed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 420px;
}
.long_code {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.med_code {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.small_code {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: #00004c;
}
tt {
  color: #00004c;
  font-size: 1.1em;
}

