default.css
html {
  font-family: 'Slabo 27px', sans-serif;
  background: #FF8247;

}
h1 {
  font-family: 'Slabo 27px', sans-serif;
  color: #F0F8FF;
}
h2 {
  font-family: 'Slabo 27px', sans-serif;
  color: #F0F8FF;
h4 {
  font-family: 'Slabo 27px', sans-serif;
  color: #F0F8FF;
}
}
p {
  font-family: 'Slabo 27px', sans-serif;
  color: #F0F8FF;
}
