html {
  background-color: #FF8247;
}
body {
  margin: 0px;
}
h1 {
  font-weight: bold;
  font-size:6em;
  text-align: center;
  font-family: 'Slabo 27px';
  color: #F0F8FF;
  margin-bottom: 5px;
}
#resume {
  height: 40px;
  width: 100px;
  background-color: #CBCBCB;
  color: #F0F8FF;
  display: inline-block;
  border: 1px solid #f6f3e0;
  margin-right: 5px;
  text-align: center;
}
  #portfolio {
  height: 40px;
  width: 100px;
  background-color: #CBCBCB;
  color: #F0F8FF;
  display: inline-block;
  border: 1px solid #f6f3e0;
  margin-right: 5px;
  text-align: center;
}
#blog {
  height: 40px;
  width: 100px;
  background-color: #CBCBCB;
  color: #F0F8FF;
  display: inline-block;
  border: 1px solid #f6f3e0;
  text-align: center;
}
#buttons {
  display: block;
  margin-right: 38%;
  margin-left: 36%;
  }
a {
  text-decoration: none;
  font-family: 'Slabo 27px';
  color: #F0F8FF;
  font-size: 1.5em
}
a:hover {
  font-weight: bold;
}
div p {
  padding: 0px;
  text-align: center;
}
#about-me {
  text-align: center;
  font-family: 'Slabo 27px';
  color: #F0F8FF;
  font-size: 2em;
  margin: 0px 30% 0px 30%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#contact {
  background-color: #CBCBCB;
  padding: 10px;
}
#contact p {
color: #F0F8FF;
}