html {
  background-color: #FF8247;
}
h1 {
  font-weight: bold;
  font-size:6em;
  text-align: center;
  font-family: 'Slabo 27px';
  color: #F0F8FF;
  margin-bottom: 5px;
}
#resume {
  height: 40px;
  width: 100px;
  background-color: #CBCBCB;
  color: #F0F8FF;
  display: inline-block;
  border: 1px solid #f6f3e0;
  margin: 0 5px 0 38%;
  text-align: center;
}
  #portfolio {
  height: 40px;
  width: 100px;
  background-color: #CBCBCB;
  color: #F0F8FF;
  display: inline-block;
  border: 1px solid #f6f3e0;
  margin-right: 5px;
  text-align: center;
}
#blog {
  height: 40px;
  width: 100px;
  background-color: #CBCBCB;
  color: #F0F8FF;
  display: inline-block;
  border: 1px solid #f6f3e0;
  text-align: center;
}
a {
  text-decoration: none;
  font-family: 'Slabo 27px';
  color: #F0F8FF;
  font-size: 1.5em
}
a:hover {
  font-weight: bold;
}
div p {
  padding: 0px;
  text-align: center;
}
#about-me {
  text-align: center;
  font-family: 'Slabo 27px';
  color: #F0F8FF;
  font-size: 2em;
  margin: 0px 450px 0px 450px;
}
img {
  margin: 50px 0px 0px 33%;
}