html {
  background-image: url("../imgs/background_pic.jpg");
  background-size: 1500px 1200px;
  height: 100%;
}
body {
  margin: 0px;
  height: 100%;
  padding: 0px;
}
h1 {
  font-weight: bold;
  font-size:6em;
  text-align: center;
  font-family: 'Slabo 27px';
  color: #F0F8FF;
  margin-bottom: 5px;
  background-color: #FF8247;
  width: 80%;
  height: 15%;
  margin-top: 3%;
}
#resume {
  background-color: #ff4768;
  width: 40%;
  height: 12%;
  text-align: left;
  position: absolute;
  top: 35%;
  right: 0%;
}
  #portfolio {
  background-color: #ffde47;
  width: 45%;
  height: 12%;
  text-align: left;
  position: absolute;
  right: 0%;
  top: 55%;
}
#blog {
  background-color: #ffb694;
  width: 40%;
  height: 12%;
  text-align: left;
  position: absolute;
  right: 0%;
  top: 75%;
}
a {
  text-decoration: none;
  font-family: 'Slabo 27px';
  color: #F0F8FF;
  font-size: 4em;
  padding-left: 10px;
}
a:hover {
  font-weight: bold;
}
#about-me {
  background-color: #CBCBCB;
  background: rgba(203,203,203,0.5);
  float: left;
  text-align: left;
  font-family: 'Slabo 27px';
  color: #F0F8FF;
  font-size: 2em;
  padding-left: 10px;
  margin-left: 150px;
  margin-right: 900px;
  margin-top: 170px;
}
#contact {
  background-color: #CBCBCB;
  padding-bottom: 10px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}
#contact p {
  color: #F0F8FF;
  text-align: center;
  margin: 0px;
}
#contact img {
  margin-top: 5px;
  position: relative;
  bottom: -9px;
}
#contact-link {
  color: #F0F8FF;
  font-size: 1em;
  padding-left: 0px;
}

